    <h1>Voici la commande demandée chef !</h1>
    <h2> <%= @gossip.user.first_name %> a dit :</h2>
    <h3><%= @gossip.title %></h3>
    <p><%= @gossip.content %></p>

    <p><%= link_to "Pour voir qui est ce médisant", user_path(@gossip.user.id) %></p>